# Data Science Tools and Ecosystem

# In this notebook, Data Science Tool and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientist use are.
- Some of the commonly used libraries used by Data Scientists include.
- Below are a few examples of evaluating arithmetic expression in Python.
- This a simple arithmetic expression to multiply then add integers.
- This will convert 200 minutes to hours by diving by 60.

# Some of the popular languages that Data Scientist use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia
7. C++

# Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit
6. Keras
7. TensorFlow

| Data Science Tools |
|:------------------:|
| Jupiter Notebook |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expression in Python.

In [17]:
# This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60.

minutes=200
hours=minutes//60

print (minutes, "minutes is", hours, "hours" )

200 minutes is 3 hours

## Author:
Zoltan Csiki